section {
  margin: 100px;
}

.card {
  width: 300px;
  padding: 20px;
  border: 1px solid black;
}

img {
  width: 260px;
}

.card-title {
  font-size: 36px;
}

.buy-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: blue;
  color: white;
}
