.card {
  float: left;
  border: 1px solid blue;
  padding: 20px;
  margin: 20px;
}

.card-img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.card-box0,
.card-box1,
.card-box2,
.card-box3 {
  width: 1000px;
  margin: 40px auto;
  background-color: #ccc;
  overflow: hidden;
}

.card-box2 {
  width: 980px;
  padding: 0 10px;
}

.card-box0 .card {
  box-sizing: border-box;
  width: 210px;
}

.card-box1 .card {
  width: 168px;
}

.card-box2 .card {
  width: 183px;
  margin: 20px 10px;
}

.card-box3 .card {
  width: 183px;
}

.card-box3 .ml-0 {
  margin-left: 0;
}
