section {
  width: 900px;
  padding: 100px;
  margin: auto;
}

.box {
  background-color: #faf;
  width: 300px;
  height: 300px;
  padding: 10%;
  margin: auto;
}
.in {
  background-color: #ffa;
  height: 100%;
}
