main {
  margin: 100px;
  background-color: #ccc;
}

.grid {
  display: grid;
  gap: 10px;
}

.box {
  background-color: #ffa;
}

.hot-topic .grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.hot-topic .box1 {
  grid-area: 1/1/5/2;
}

.hot-topic .box2 {
  grid-area: 1/2/4/3;
}

.hot-topic .box3 {
  grid-area: 4/2/5/3;
}

.hot-topic .box4 {
  grid-area: 1/3/2/4;
}

.hot-topic .box5 {
  grid-area: 2/3/5/4;
}

.hot-topic .box6 {
  grid-area: 1/4/2/5;
}
.hot-topic .box7 {
  grid-area: 2/4/3/5;
}
.hot-topic .box8 {
  grid-area: 3/4/4/5;
}
.hot-topic .box9 {
  grid-area: 4/4/5/5;
}

.jp-follow .grid {
  grid-template-areas:
    "xmas xmas late spring"
    "xmas xmas already picked";
}

.jp-follow .box1 {
  grid-area: xmas;
}
.jp-follow .box2 {
  grid-area: late;
}
.jp-follow .box3 {
  grid-area: spring;
}
.jp-follow .box4 {
  grid-area: already;
}
.jp-follow .box5 {
  grid-area: picked;
}

.tw-must .box1 {
}
.tw-must .box2 {
}
.tw-must .box3 {
}
.tw-must .box4 {
}
.tw-must .box5 {
}
.tw-must .box6 {
}
.tw-must .box7 {
}
