/* header {
  background-color: #9b73a9;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
} */

/* 把 header 的 CSS 全部給 nav */
nav {
  background-color: #9b73a9;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
}

.logo {
  height: 60px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.bar {
  display: none;
}

.toggle-nav-menu {
  display: none;
}

.nav-menu {
  display: flex;
  gap: 20px;
  color: white;
}

.down {
  display: none;
}

.nav-item {
  background-color: #7b498d;
  line-height: 60px;
  padding: 0 20px;
  position: relative;
}

.nav-item:hover .second-menu {
  display: block;
}

.avatar {
  width: 80px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.toggle-second-menu {
  display: none;
}

.second-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #7b498d;
}

.second-item {
  line-height: 1.5;
  padding: 10px 30px;
  text-wrap: nowrap;
  position: relative;
}

@media (max-width: 767px) {
  .bar {
    display: flex;
    align-items: center;
    font-size: 36px;
  }

  .toggle-nav-menu:checked + .nav-menu {
    /* display: block; */
    opacity: 1;
    left: 0;
    padding: 0 10px; /* 新增 */
  }

  .nav-menu {
    /* display: none; */
    opacity: 0;
    flex-direction: column;
    gap: 0;
    /* width: 100%; */ /* 刪掉 */
    /* padding: 0 10px; */ /* 刪掉 */
    overflow: hidden; /* 新增 */
    position: absolute;
    top: 100%;
    left: 100%;
    right: 0;
    background-color: #7b498d;
    transition: all 0.5s ease-in-out;
    /*height: 243px;*/ /* 新增 */
  }

  .nav-item + .nav-item {
    border-top: 1px solid #5e2971;
  }

  .second-menu {
    display: block;
    height: 0;
    position: static;
    background-color: #5e2971;
    transition: height 1s ease-in-out;
  }

  .down {
    display: block;
    /* 1 */
    position: absolute;
    top: 0;
    right: 20px;

    /* 2 */
    /* float: right; */

    line-height: 60px;
  }

  .toggle-second-menu:checked + .second-menu {
    /* display: block; */
    height: 132px;
  }

  /* .nav-item {
    height: 0;
    width: 0;
    overflow: hidden;
    padding: 0;
    transition: 0.5s;
  }

  .toggle-nav-menu:checked + .nav-menu .nav-item {
    height: auto;
    width: 100%;
    padding: 0 20px;
  } */
}
