/* 搜尋結果 */
ul:has(*) {
  border: 1px solid #ccc;
}

ul.list-group:has(*) {
  /* 故意複寫 bootstrap，避免編輯原始檔案 */
  margin-bottom: 15px;
}

/* JS 添加的 HTML 元素 */
li {
  list-style: none;
  padding: 15px;
}

p {
  /* 去除 p 標籤的預設 margin */
  margin: 0;
}

li + li {
  border-top: 1px solid #ccc;
}

/* icon */
i {
  margin-right: 5px;
}

span {
  font-size: 20px;
  font-weight: 900;
}

span + span {
  margin-left: 5px;
}

.station-address {
  font-size: 16px;
  font-weight: normal;
}

.empty {
  padding: 15px;
}
