/* 搜尋結果 */
ul:has(*) {
  border: 1px solid #ccc;
}

ul.list-group:has(*) {
  /* 故意複寫，避免編輯原始檔案 */
  margin-bottom: 15px;
}

/* JS 添加的 HTML 元素 */
li {
  list-style: none;
  padding: 15px;
}

p {
  margin: 0;
}

li + li {
  border-top: 1px solid #ccc;
}

/* icon */
i {
  margin-right: 5px;
}

.station-name {
  font-size: 20px;
  font-weight: 900;
}
.station-address {
  font-size: 16px;
  font-weight: normal;
}

.empty {
  padding: 15px;
}
