section {
  margin: 100px;
}

.card-wrap {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 960px;
  background-color: #aaa;
}

.card {
  width: calc(25% - 15px);
  background-color: bisque;
  position: relative;
}

.card:nth-child(even) .card-header::after {
  content: "HOT";
  position: absolute;
  background-color: red;
  color: white;
  padding: 2px 40px;
  right: -30px;
  top: 10px;
  transform: rotate(45deg);
}

.card-header {
  position: relative;
  overflow: hidden;
}

.tag {
  position: absolute;
  color: white;
  background-color: red;
  /* border-radius: 3px; */
  padding: 2px 10px;
  z-index: 1;
}

.discount {
  top: 20px;
  left: -10px;
}

/* 優惠裝飾三角形，寫法一 */
/* 取右邊框線的下側 */
.discount::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  border-top: none;
  border-right: 10px solid brown;
  border-bottom: 10px solid transparent;
}

/* 優惠裝飾三角形，寫法二 */
/* 取上 + 右側邊框線 */
/* .discount::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  border: 10px solid brown;
  border-left-color: transparent;
  border-bottom-color: transparent;
  z-index: -1;
} */

.price-off {
  right: 0;
  /* top: 0; */
  bottom: 0;
}

.card-img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.card-body {
  padding: 10px;
}
