section {
  margin: 100px;
}

div {
  height: 600px;
  background-color: #cac;
  background-image: url(../../usagi.webp), url(../../usagi2.webp),
    linear-gradient(120deg, #ffa, #faa);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 100px 100px, 300px 200px, auto;
  background-position: 20px center, right 100px bottom 40px, center center;
}
